<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos produtos</title>
</head>
<body>
    <h1>Lista:</h1>
    <ul>{% for produto in produtos %}
    <li><b>Produto:</b> {{produto.nome}} - <b>Valor : </b>{{produto.valor}} Reais - <b>Categoria: </b>{{produto.categoria}}</li>
    {% endfor %}</ul>
    
    <button><a href="{% url 'cadastro' %}">Novo cadastro!</a></button>

</body>
</html>